[submodule "synthesis/gf180mcu-project-template-3V/libs/gf180mcu_as_sc_mcu7t3v3"]
	path = synthesis/gf180mcu-project-template-3V/libs/gf180mcu_as_sc_mcu7t3v3
	url = https://github.com/AvalonSemiconductors/gf180mcu_as_sc_mcu7t3v3.git
[submodule "synthesis/gf180mcu-project-template-3V/libs/gf180mcu_ocd_ip_sram"]
	path = synthesis/gf180mcu-project-template-3V/libs/gf180mcu_ocd_ip_sram
	url = https://github.com/RTimothyEdwards/gf180mcu_ocd_ip_sram.git
[submodule "photodiode/OAS_Sensor/gf180mcu"]
	path = photodiode/OAS_Sensor/gf180mcu
	url = https://github.com/QuantamHD/gf180mcu.git
[submodule "template/libs/gf180mcu_ocd_ip_sram"]
	path = template/libs/gf180mcu_ocd_ip_sram
	url = https://github.com/RTimothyEdwards/gf180mcu_ocd_ip_sram.git
[submodule "template/libs/gf180mcu_as_sc_mcu7t3v3"]
	path = template/libs/gf180mcu_as_sc_mcu7t3v3
	url = https://github.com/AvalonSemiconductors/gf180mcu_as_sc_mcu7t3v3.git
